
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% if errorSummary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorSummary
    }) }}
{% endif %}


  <form action="/existing-statement" method="post" novalidate>

    {{ govukRadios({
      idPrefix: "existing-statement",
      name: "hasExistingStatement",
      fieldset: {
        legend: {
          text: "Does the service already have an accessibility statement?",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true          
        }
      },
      hint: {
            text: "If a service does have a statement, the link should be in the footer."
          },
      errorMessage: fieldErrors.hasExistingStatement if fieldErrors,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: data.hasExistingStatement == "yes",
          conditional: {
            html: govukDateInput({
              id: "firstPublishedDate",
              namePrefix: "firstPublishedDate",
              fieldset: {
                legend: {
                  text: "When was the statement first published?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "You can typically find this towards the end of the statement. It usually says 'This statement was prepared on [date].'"
              },
              errorMessage: fieldErrors.firstPublishedDate if fieldErrors,
              items: [
                {
                  name: "day",
                  value: data['firstPublishedDate-day'],
                  classes: "govuk-input--width-2"
                },
                {
                  name: "month",
                  value: data['firstPublishedDate-month'],
                  classes: "govuk-input--width-2"
                },
                {
                  name: "year",
                  value: data['firstPublishedDate-year'],
                  classes: "govuk-input--width-4"
                }
              ]
            })
          }
        },
        {
          value: "no",
          text: "No",
          checked: data.hasExistingStatement == "no"
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue" }) }}

  </form>

    </div>
  </div>

{% endblock %}
