{% extends "layouts/main.html" %}

{% block pageTitle %}
  Issues summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorSummary
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      Summary of issues
    </h1>

    <p class="govuk-body">
      Summarise the accessibility issues at a high level in plain English. This will help users understand how the issues may affect them.</p>

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

    {{ govukInsetText({
    text: "Do not include detailed technical information about the issues here. You'll add this later."
    }) }}

    <form method="post" novalidate>

      {{ govukTextarea({
        id: "issues-summary",
        name: "plainEnglishIssues",
        label: {
          text: "What are the accessibility issues?",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Add a bulleted list by starting each line with a hyphen."
        },
        value: data.plainEnglishIssues,
        rows: 8,
        errorMessage: fieldErrors.plainEnglishIssues if fieldErrors
      }) }}

      {{ govukDetails({
      summaryText: "Accessibility issues example",
        html: "<ul class='govuk-list govuk-list--bullet'><li>some links are not clearly labelled</li><li>some documents do not have headings</li><li>some images do not have alt text</li></ul>"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}